########################################################################################################################
#                                                                                                                      #
#                                    OrionWay - Robótica, Llenguatge i Planificació                                    #
#                                                                                                                      #
########################################################################################################################

# IA i visió
ultralytics==8.1.22
opencv-python==4.9.0.80
numpy==1.24.4

# Google Cloud TTS
google-cloud-texttospeech==2.15.1

# Reproducció d’àudio
pygame==2.1.3
